body {font-family: 'sans-serif', 'Raleway'; cursor: default;}
#navTop {position: fixed; width: 100%; height: 70px; z-index: 1; overflow: hidden; background: #fff; border-bottom: 1px solid #ccc;}
#navTop_box {width: 80%; height: 70px; margin: 0 auto; transition: all 1s; position: relative;}
#navTop_box #logo {width: 100px; overflow: hidden; position: relative;}
#navTop_box #logo > div {width: 60px; float: left; line-height: 70px;}
#navTop_box #logo > div > img {width: 100%; vertical-align: middle; transition: all 1s;}
#navTop_box #logo > span {display: inline-block; font-size: 13px; position: relative; top: 38px; left: 10px;}
#navTop_box #topMenu {position: absolute; right: 0; top: 0px; overflow: hidden;}
#navTop_box #topMenu li {float: left; padding-left: 30px; line-height: 70px; transition: all 1s;}
#navTop_box #topMenu li a {font-size: 18px;}
#navTop_box #topMenu li:hover > a {font-weight: bold; border-bottom: 3px solid pink; font-weight: bold; padding-bottom: 4px;}

.section_content {width: 1280px;  margin: 0 auto; transition: all 1s;}
.section_content h2 {position: relative; text-align: center; font-size: 36px; letter-spacing: 5px;}
.section_content1 h2 {background:#fec8c9; color: #fff; padding: 10px 0px; margin-top: 50px;}
.section_content2 h2 {margin-top: 50px;}

/*s0*/
.section_home {background: #fec8c9; width: calc(100% - 120px); height: calc(100% - 100px); margin: 50px; position: relative; transition: all 1s;}
.section_home h1 {font-family: 'Sue Ellen Francisco', cursive; color: #fff; font-size: 130px; position: absolute; bottom: 80px; right: 12%; letter-spacing: 15px; transition: all 1s;}
.section_home h2 {font-family: 'Sue Ellen Francisco', cursive; color: #fff; font-size: 50px; position: absolute; bottom: 280px; right: 13%; letter-spacing: 10px; transition: all 1s;}
#home_right {position: absolute; right: -100px; top: 300px; transform: rotate(90deg); overflow: hidden;}
#home_right_txt {letter-spacing: 2px; display: inline-block; float: left; font-size: 15px;}
#home_bottom_txt {position: absolute; left: 110px; bottom: -33px; overflow: hidden; font-size: 16px;}

.home_line {position: absolute; border-bottom: 0;}
.home_right_line {height: 200px; right: -35px; top: 390px;}
.home_left_line {height: 300px; left: -25px; bottom: -45px;}
.home_bottom_line {width: 130px; left: -45px; bottom: -25px;}
.home_middle_line1 {width: 48%; left: 0px; bottom: 200px; border: solid 1px #fff;transition: all 1s;}
.home_middle_line2 {width: 10%; right: 0px; bottom: 200px; border: solid 1px #fff;}


/*s1*/
/*s1 profile*/
.section s1 {height: 100vh;}
.pr_container {overflow: hidden; padding-top: 60px;}
.pr_container .pr_profile {width: 28%; display: inline-block; position: relative; float: left; padding-left: 30px;}
/*.pr_container .pr_profile h3 {padding-bottom: 20px; color: #46524a; font-size: 20px;}*/
.pr_container .pr_profile div {margin: 0 auto;}
.pr_container .pr_profile div img {width: 200px;}
.pr_container .pr_profile ul {margin-top: 80px; border-left: 3px solid #fec8c9; padding-left: 10px;}
.pr_container .pr_profile ul li {padding-bottom: 15px;}
.pr_container .pr_profile ul li:nth-child(1) {padding-bottom: 30px; font-size: 18px; font-weight: bold;}
.pr_container .pr_profile ul li:nth-child(4) {padding-bottom: 0px;}
.pr_container .pr_profile ul li i {padding-right: 10px;}

/*s1 education, license*/
.pr_container .right_box {width: 72%; display: inline-block; position: relative; /*padding-top: 20px;*/}
.right_box .pr_box {margin-bottom: 45px;}
.right_box .pr_box:after {content: ""; display: block; clear: both;}
.right_box .pr_box .pr_title {float: left; display: inline-block; width: 20%; position: relative; left: 0; top: 0; color: #46524a; font-size: 20px; border-left: 3px solid #fec8c9; padding-left: 10px;}
.right_box .pr_box .pr_date {float: left; display: inline-block; width: 25%;}
.right_box .pr_box .pr_date div {padding-bottom: 15px;}
.right_box .pr_box .pr_date div br {display: none;}
.right_box .pr_box .pr_txt {width: 55%; display: inline-block;}
.right_box .pr_box .pr_txt div {padding-bottom: 15px; font-weight: bold}
.right_box .pr_box .pr_txt div:nth-of-type(2) {padding-bottom: 15px;}
.right_box .pr_box .pr_txt ul {padding-left: 20px;}
.right_box .pr_box .pr_txt ul li {padding-bottom: 10px; word-spacing: 3px; font-size: 14px;}

/*s2*/
/*type*/
.section .borderbox {margin: 0 auto; width: 80%; padding-left: 15%;margin-top: 60px;position: relative;}
.section .borderbox {margin-top: -10%;}
.section .borderbox .skill{position: absolute; margin-left: -15%;}
.section .borderbox .skill p {font-size: 20px; letter-spacing: 4px;}
.section .borderbox .skill h2 {width: 60%; display:inline-block;position: absolute;}
.section .borderbox .type {width: 35%;position: absolute; left: 63%;margin-top: -4%;}
.cot_box {width: 100%; height: 230px; background:#fec8c9; position: relative; top: 40%;}
.cot_inbox {width: calc(100% - 40px); height: calc(100% - 40px); margin: auto; border: 1px solid #fff2f3; position: relative; top: 20px;}
.cot_inbox .cot_title {text-align: center; position: relative; top: -10px; }
.cot_inbox .cot_title h3 {text-align: center; width: 150px; display: inline-block; background: #fff2f3; font-size: 20px; color: #46524a;}
.cot_inbox .cot_txt {display: flex;}
.cot_inbox .cot_txt ul {flex: 1;}
.cot_inbox .cot_txt ul li {text-align: center; font-size: 18px; display: none;}
.cot_inbox .cot_txt ul li:nth-child(1) {text-align: center; padding: 12px 0 8px 0;}
.cot_inbox .cot_txt ul li:nth-child(1) img {width: 17%; vertical-align: bottom;}

/*s3*/
.slide {width: 100%; height: 80%; overflow: hidden;}
.slide h2 {padding-bottom: 80px;}
.slide .pf_img_container {width: 45%; display: inline-block; position: relative; float: left; margin-left: 5%; margin-top: -30px; transition: all 1s;}
.slide .pf_img_container .pf_img_1 {width: 480px; position: relative; left: 20px; top: 0; margin-top: 20px;}
.slide .pf_txt_container poster {display: none;}
.slide .pf_txt_container {width: 40%; display: inline-block; padding-left: 7%; margin-top: -30px; }
.slide .pf_txt_container p {padding-top: 20px;}
.slide .pf_txt_container .pf_title {display: block; font-size: 26px; margin: 25px 0; padding: 10px 0; text-align: center; background: #ffc1c3; color: #fff; font-weight: normal; border-radius: 10px;}
.slide .pf_txt_container .mpf_img {display: none;}
.slide .pf_txt_container .pf_name {display: inline-block; width: 25%;padding: 20px 0px; font-size: 16px;float: left;}
.slide .pf_txt_container .pf_txt {display: inline-block; width: 75%; padding: 20px 0px; font-weight: bold; font-size: 16px; line-height: 1.3;}
.slide .pf_txt_container .pf_subtxt {display: inline-block; width: 75%; padding: 0px; font-weight: normal; font-size: 14px; margin-left: 25%; margin-top: -10px; line-height: 1.3;}
.slide .pf_txt_container p span {display: block;}

.pf_viewmore {position: relative; text-align: center; margin-top: 30px; margin-bottom: 100px;}
.pf_viewmore a {overflow: hidden; position: relative; display: inline-block; vertical-align: top; width: 100%; padding: 10px 0; font-size: 18px; border: 1px solid #aaa; transition: all 0.5s;}
.pf_viewmore a:hover {color: #fff; border: 1px solid #fff;}
.pf_viewmore a:before {content: ""; z-index: -1; position: absolute; background: #c0c0c0; transition: all 1s; left: 50%; top: 0; transform: translateX(-50%); width: 0; height: 100%;}
.pf_viewmore a:hover:before {width: 100%;}

/*s3 slideNavigation*/
.fp-slidesNav.fp-bottom {text-align: center; bottom: 120px;}
#fp-nav ul li,.fp-slidesNav ul li {margin: 0px 60px;}
#fp-nav ul li a.active span,#fp-nav ul li:hover a.active span,.fp-slidesNav ul li a.active span,.fp-slidesNav ul li:hover a.active span {height: 12px; width: 120px; background: #ffc8c9; margin: -2px 0 0 -60px; border-radius: 0;}
#fp-nav ul li a span,.fp-slidesNav ul li a span{border-radius: 0; height:12px; width: 120px; border: 0; background: #ddd; margin: -2px 0 0 -60px;}
#fp-nav ul li:hover a span,.fp-slidesNav ul li:hover a span {width: 120px; height: 12px; margin: -2px 0 0 -60px; cursor: pointer; background: #aaa;}

.fp-controlArrow.fp-prev {left: 8%; background: url(../img/left_btn.png) no-repeat; width: 50px; height: 150px; z-index: 1; transition: all 1s;}
.fp-controlArrow.fp-next {right: 8%; background: url(../img/right_btn.png) no-repeat; width: 50px; height: 150px; z-index: 1; transition: all 1s;}
#footer {position: absolute; left: 0; bottom: 0; background: #ffc1c3; width: 100%; height: 50px; line-height: 50px;}
#footer_txt {width: 100%; text-align: center; color: #f1f1f1; font-size: 14px;}

@media screen and (min-width:1280px) and (max-width:1599px) {
#navTop_box {width: 90%; transition: all 1s;}
.section_content3 {width: 90%;}
.home_middle_line1 {width: 35%; transition: all 1s;}
.home_middle_line2 {width: 10%;}
.slide .mpf_img_container {width: 70%;}
}


@media screen and (min-width:768px) and (max-width:1279px) {
#navTop {width: 100%; height: 60px;}
#navTop_box {width: 90%; height: 60px;}
#navTop_box #logo {width: 200px;}
#navTop_box #logo > div {width: 60px; line-height: 60px;}
#navTop_box #logo > div > img {width: 90%;}
#navTop_box #logo > span {font-size: 12px; top: 32px; left: 5px;}
#navTop_box #topMenu li {padding-left: 25px; line-height: 60px;}
#navTop_box #topMenu li a {font-size: 16px;}
#navTop_box #topMenu li.active > a {border-bottom: 2px solid #fec8c9; padding-bottom: 3px;}
.section_content {width: 90%;}
.section_content h2 {position: relative; text-align: center; font-size: 24px; letter-spacing: 4px;}
.section_content1 h2 {background: #fec8c9; color: #fff; padding: 10px 0px; margin-top: 60px;}
.section_content2 h2 {margin-top: 50px;}

    
/*s0*/
.section_home {width: calc(100% - 80px); height: calc(100% - 80px); margin: 40px;}
.section_home h1 {font-size: 100px; bottom: 50px; right: 5%; letter-spacing: 15px;}
.section_home h2 {font-size: 30px; bottom: 250px; right: 6%; letter-spacing: 10px;}
#home_right {right: -80px; top: 300px; transform: rotate(90deg);}
#home_right_txt {font-size: 13px;}
#home_bottom_txt {left: 110px; bottom: -25px; font-size: 14px;}

.home_right_line {height: 200px; right: -20px;}
.home_left_line {height: 300px; left: -15px; bottom: -25px;}
.home_bottom_line {width: 110px; left: -25px; bottom: -15px;}
.home_middle_line1 {display: none;}
.home_middle_line2 {display: none;}
    
/*s1*/
/*s1 profile*/
.pr_container {padding-top: 25px;}
.pr_container .pr_profile {width: 100%; display: inline-block; position: relative; float: none; padding-left: 5%; margin-bottom: 20px;}
.pr_container .pr_profile div {margin: 0 auto; width: 26%; float: left; display: inline-block;}
.pr_container .pr_profile div img {width: 140px;}
.pr_container .pr_profile ul {width: 74%; margin-top: 0px; display: inline-block; position: absolute; bottom: 5px; border-left: 0;}
.pr_container .pr_profile ul li {padding-bottom: 12px; font-size: 15px;}
.pr_container .pr_profile ul li:nth-child(1) {padding-bottom: 25px; font-size: 18px; font-weight: bold;}
.pr_container .pr_profile ul li:nth-child(4) {padding-bottom: 0px;}
.pr_container .pr_profile ul li i {padding-right: 10px;}
    
/*s1 education, license*/
.pr_container .right_box {width: 100%; padding: 0 10px;transition: all 1s;}
.right_box .pr_box {margin-bottom: 16px;}
.right_box .pr_box .pr_title {font-size: 18px;}
.right_box .pr_box .pr_date div {padding-bottom: 15px; font-size: 15px;}
.right_box .pr_box .pr_date div br {display: block;}
.right_box .pr_box .pr_txt div {padding-bottom: 15px; font-size: 15px;}
.right_box .pr_box .pr_txt div:nth-of-type(2) {padding-bottom: 15px;}
.right_box .pr_box .pr_txt ul {padding-left: 15px;}
.right_box .pr_box .pr_txt ul li {padding-bottom: 7px; word-spacing: 3px; font-size: 12px; line-height: 1.3;}
    
/*s2*/
/*type*/
.section .borderbox {margin-left: 5%;}
.section .borderbox .skill {width: 85%; position: absolute; margin:0 auto;}
.section .borderbox .type {display: none;transition: all 1s;}
.cot_box {width: 100%; height: 230px; background:#fec8c9; position: relative; margin-top: 10px;}

.cot_inbox .cot_title {text-align: center; position: relative; top: -10px; }
.cot_inbox .cot_title h3 {text-align: center; width: 140px; display: inline-block; background: #fff2f3; font-size: 20px; color: #46524a;}
.cot_inbox .cot_txt {display: flex;}
.cot_inbox .cot_txt ul {flex: 1;}
.cot_inbox .cot_txt ul li {text-align: center; font-size: 18px; display: none;}
.cot_inbox .cot_txt ul li:nth-child(1) {text-align: center; padding: 30px 0 8px 0;}
.cot_inbox .cot_txt ul li:nth-child(1) img {width: 17%; vertical-align: bottom;}
    
    
/*s3*/
.slide h2 {padding-bottom: 45px; }
.section_content3 {width: 90%;}
.slide .pf_img_container {display: none;}
.slide .pf_txt_container {width: 100%; padding-left: 20px; padding-right: 20px; margin-top: -30px; text-align: left;}
.slide .pf_txt_container p {font-size: 14px;}
.slide .pf_txt_container .pf_title {display: none;}
.slide .pf_txt_container .mpf_img {display: block; width: 40%; margin: 0 auto;}
.slide .pf_txt_container .pf_name {width: 25%; float: left; padding: 8px 0px; font-size: 14px; line-height: 1.3;}
.slide .pf_txt_container .pf_txt {width: 75%; padding: 8px 0px; font-weight: bold; font-size: 14px; line-height: 1.3;}
.slide .pf_txt_container .pf_subtxt {display: none;}
.pf_viewmore {margin-top: 10px; margin-bottom: 0px;}
.slide .pf_txt_container p span {display: none;}

/*s3 slideNavigation*/
.fp-slidesNav.fp-bottom {bottom: 8%;}
.fp-controlArrow.fp-prev {left: 2%; background-size: 80%;}
.fp-controlArrow.fp-next {right: 2%; background-size: 80%;}
#footer {position: absolute; left: 0; bottom: 0; background: #ffc1c3; width: 100%; height: 40px; line-height: 40px;}
#footer_txt {font-size: 13px;}
}

    
    
@media screen and (max-width:767px) {
#navTop {width: 100%; height: 50px;}
#navTop_box {width: 90%; height: 50px;}
#navTop_box #logo > div {width: 50px; line-height: 50px;}
#navTop_box #logo > div > img {width: 90%;}
#navTop_box #logo > span {display: none;}
#navTop_box #topMenu li {padding-left: 10px; line-height: 50px;}
#navTop_box #topMenu li a {font-size: 13px;}
#navTop_box #topMenu li.active > a {border-bottom: 0; padding: 4px; background: #fec8c9; color: #fff; border-radius: 5px;}

.section_content {width: 90%;}
.section_content h2 {position: relative; text-align: center; font-size: 18px; letter-spacing: 4px;}
.section_content1 h2 {background: #fec8c9; color: #fff; padding: 7px 0px; margin-top: 50px;}
.section_content2 h2 {margin-top: 50px;}

    
/*s0*/
.section_home {width: calc(100% - 40px); height: calc(100% - 40px); margin: 20px;}
.section_home h1 {font-size: 60px; bottom: 50px; right: 5%; letter-spacing: 5px;}
.section_home h2 {font-size: 30px; bottom: 150px; right: 6%; letter-spacing: 10px;}
#home_right {right: -58px; top: 200px; transform: rotate(90deg);}
#home_right_txt {font-size: 10px;}
#home_bottom_txt {left: 70px; bottom: -15px; font-size: 10px;}

.home_right_line {height: 150px; right: -10px; top: 270px;}
.home_left_line {height: 300px; left: -10px; bottom: -15px;}
.home_bottom_line {width: 70px; left: -15px; bottom: -10px;}
.home_middle_line1 {display: none;}
.home_middle_line2 {display: none;}

/*s1*/
/*s1 profile*/
.pr_container {padding-top: 15px; }
.pr_container .pr_profile {width: 100%; display: inline-block; position: relative; float: none; padding-left: 0; margin-bottom: 14px;}
.pr_container .pr_profile div {margin: 0 auto; width: 30%; float: left; display: inline-block;}
.pr_container .pr_profile ul {width: 74%; margin-top: 0px; display: inline-block; position: absolute; bottom: 5px; border-left: 0;}
.pr_container .pr_profile ul li {padding-bottom: 7px; font-size: 16px; margin-left: 10px;}
.pr_container .pr_profile ul li:nth-child(1) {padding-bottom: 15px; font-size: 16px; font-weight: bold;}
.pr_container .pr_profile ul li:nth-child(4) {padding-bottom: 0px;}
.pr_container .pr_profile ul li i {padding-right: 10px;}
    
/*s1 education, license*/
.pr_container .right_box {width: 100%; padding: 0;}
.right_box .pr_box {margin-bottom: 0px;}
.right_box .edu_box {margin-bottom: 20px;}
.right_box .pr_box .pr_title {float: none; display: block; width: 100%; font-size: 16px; margin-bottom: 8px;}
.right_box .pr_box .pr_date {display: none;}
.right_box .pr_box .pr_txt {width: 100%; display: block;}
.right_box .pr_box .pr_txt div {padding-bottom: 6px; padding-left: 8px; font-size: 15px; font-weight: normal;margin-bottom: 5}
.right_box .pr_box .pr_txt div:nth-of-type(2) {padding-bottom: 10px;}
.right_box .pr_box .pr_txt ul {display: none;}
    
/*s2*/
/*type*/
 .section .borderbox {top: -12%; margin-left: 11%;}
.section .borderbox .like {font-size: 13px; transition: all 1s;}
.section .borderbox .type {display: none;}
.cot_box {width: 100%; height: 230px; background:#fec8c9; position: relative; margin-top: -140px;}
.cot_inbox {width: calc(100% - 40px); height: calc(100% - 40px); margin: auto; border: 1px solid #fff2f3; position: relative; top: 20px;}
.cot_inbox .cot_title {text-align: center; position: relative; top: -10px; }
.cot_inbox .cot_title h3 {text-align: center; width: 140px; display: inline-block; background: #fff2f3; font-size: 15px; color: #46524a;}
.cot_inbox .cot_txt {display: flex;}
.cot_inbox .cot_txt ul {flex: 1;}
.cot_inbox .cot_txt ul:nth-child(1){margin-left: 6px;}
.cot_inbox .cot_txt ul li {text-align: center; font-size: 12px; display: none;}
.cot_inbox .cot_txt ul li:nth-child(1) {text-align: center; padding-top: 50px;}
.cot_inbox .cot_txt ul li:nth-child(1) img {width: 20%; vertical-align: bottom;}
    
/*s3*/
.slide h2 {padding-bottom: 40px;}
.section_content3 {width: 85%;}
.slide .pf_img_container {display: none;}
.slide .pf_txt_container {width: 100%; padding-left: 10px; padding-right: 10px; margin-top: -30px;}
.slide .pf_txt_container p {font-size: 13px;}
.slide .pf_txt_container .pf_title {display: none;}
.slide .pf_txt_container .mpf_img {display: block; width: 80%;margin: 0 auto;}
.slide .pf_txt_container .pf_name {width: 34%; float: left; padding: 5px 0px; font-size: 13px; line-height: 1.3;}
.slide .pf_txt_container .pf_txt {width: 64%; padding: 6px 0px; font-weight: bold; font-size: 13px; line-height: 1.3;}
.slide .pf_txt_container .pf_subtxt {display: none;}
.slide .pf_txt_container p span {display: none;}
.pf_viewmore {margin-top: 10px; margin-bottom: 0px;}
.pf_viewmore .popupVideo {overflow: hidden; position: relative; display: inline-block; vertical-align: top; width: 60%; padding: 7px 0; font-size: 16px; border: 1px solid #aaa; transition: all 0.5s;}
    
/*s3 slideNavigation*/
.fp-slidesNav.fp-bottom {text-align: center; bottom: 7%;}
#fp-nav ul li,.fp-slidesNav ul li {margin: 0px 34px;}
#fp-nav ul li a.active span,#fp-nav ul li:hover a.active span,.fp-slidesNav ul li a.active span,.fp-slidesNav ul li:hover a.active span {height: 12px; width: 70px; margin: -2px 0 0 -40px;}
#fp-nav ul li a span,.fp-slidesNav ul li a span {border-radius: 0; height: 12px; width: 70px; border: 0; margin: -2px 0 0 -40px;}
#fp-nav ul li:hover a span,.fp-slidesNav ul li:hover a span {width: 70px; height: 12px; margin: -2px 0 0 -40px;}

.fp-controlArrow.fp-prev {left: 2%; background-size: 50%;}
.fp-controlArrow.fp-next {right: -4%; background-size: 50%;}
#footer {width: 100%; height: 30px; line-height: 30px;}
#footer_txt {font-size: 10px;}
}